* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
.etiquetaSeccion {
    display: inline;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight:500;
    font-size: 16px;
    padding: 5px;
}
.etiquetaSeccion--textorosa {
    color: #ff66c4;
}
#grilla {
    display: grid;
    grid-template-rows: 10vh 75vh 45vh 1fr 80vh 30vh;
    grid-template-areas: "header"
                         "destacado"
                         "categorias"
                         "novedades"
                         "comprar"
                         "footer";
}

.barra {
    background-color: black;
}

.navegador {
    grid-area: header;
    background-color: black;
    width: 100%;
    position: sticky;
    top: 0;
    height: 10vh;
    z-index: 100;
}
.navegador-bs {
    grid-area: header;
}
.barraNavegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    font-size: 14px;
    list-style-type: none;
    height: 100%;
}
.barraNavegacion__item {
    width: 20%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.5s;
}
.barraNavegacion__item--activo {
    border-bottom: #ff66c4 3px solid;
    font-weight: 700;
}
.barraNavegacion__item:hover {
    background-color: #ff66c4;
}
.barraNavegacion__item a {
    color: white;
    transition: 0.5s;
}
.barraNavegacion__item a:hover {
    color: black;
}
.friki__logo {
    height: 8vh;
}
.friki__logo-bt {
    width: 120px;
    height: auto;
}
.boton {
    height: 40px;
    width: 100px;
    background-color: white;
    border: 1px solid #ff66c4;
    margin-bottom: 10px;
    transition: 1s;
}
.vermas {
    color:white;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
    background-color:black;
    padding: 5px;
    transition: 1s;
}
.vermas:hover {
    background-color: #ff66c4;
    color: black;
}
.precio {
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}
.fotoProducto--250px {
    width: 250px;
    height: 250px;
}
.footer {
    background-color: black;
    color: white;
    height: 30vh;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer__titulo {
    margin-bottom: 10px;
}
.footer__newsletter {
    margin-bottom: 30px;
}
.footer__newsletter__boton {
background-color: #ff66c4;
border: none;
line-height: 30px;
width: 100px;
transition: 0.5s;
}
.footer__newsletter__boton:hover {
    background-color: #77D0B8;
}
.footer__newsletter__campo {
    border: none;
    line-height: 140%;
    width: 180px;
    padding: 6px;

    }
.footer__redes {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-evenly;
    font-size: 25px;
}
.footer__redes__item a{
    color: white;
}
.footer__redes__item a:hover{
    color: #ff66c4;
}

/* Estilos home */
.destacado {
    grid-area: destacado;
    background-image: url(../images/destacado_velvet.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: left;
    text-align: left;
    padding: 5%;
}
.destacado__texto {
margin-bottom: 20px;
}

.destacado__titulo {
    margin-bottom: 20px;
}
.destacado__titulo span {
    background-color: #ff66c4;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 900;
}
.destacado__descripcion {
    margin-bottom: 20px;
}
.destacado__descripcion span{
    background-color: white;
    line-height: 25px;
}

.categorias {
    grid-area: categorias;
    display: flex;
    flex-direction: column;
    background-color:white;
    padding: 15px 0% 0% 0%;
}
.scroll {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    font-size: 30px;
    animation: pulse 2s infinite;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: pulse;
}
.categorias__titulo {
    margin-bottom: 15px;
}
.categorias__titulo__texto {
    display: inline;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 2px 6px 2px 6px;
}
.categorias__formatos{
    display: flex;
    flex-direction: row;
}
.vinilos{
    width: 50%;
    position: relative;

}
.vinilos__imagen {
    width: 100%;
}
.vinilos a {
    color: white;
    transition: 1s;
}
.vinilos a:hover {
    color:#ff66c4;
}

.vinilos__texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline;
    height: fit-content;
    font-size: 35px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: black;
    padding: 2px 6px 2px 6px;
}
.cd{
width: 50%;
position:relative;
}
.cds__imagen {
    width: 100%;
}
.cd a {
    color: white;
    transition: 1s;
}
.cd a:hover {
    color:#77D0B8;
}

.cd__texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline;
    height: fit-content;
    font-size: 35px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: black;
    padding: 2px 6px 2px 6px;
}
.novedades {
    background-color: white;
    grid-area: novedades;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100vw;
}
.novedades__titulo {
    margin-top: 30px;
    margin-bottom: 15px;
}
.novedades__titulo__texto {
    display: inline;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 2px 6px 2px 6px;
}
.novedades__todos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3vh;
}
.novedades__todos__producto {
    width: 90%;
    margin-bottom: 50px;;
}
.fotoNovedades {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
}
.novedades__producto__nombre {
    display: inline;
    background-color: black;
    color: white;
    font-size: 30px;
    padding-left: 3px;
    padding-right: 3px;
    margin-bottom: 20px;
}
.novedades__producto__descripcion {
    margin-top: 10px;
}
.masinfo {
    color:black;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 3px solid black;
    transition: 1s;
}
.masinfo:hover {
    color: #ff66c4;
    border-bottom: 3px solid #ff66c4;
}
.comprar {
    grid-area: comprar;
    display: flex;
    flex-direction: column;
    background-color: lavenderblush;
    height: 80vh;
}
.comprar__titulo {
    margin-top: 15px;
    margin-bottom: 15px;
}
.comprar__titulo__texto {
    display: inline;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: black;
    color: lavenderblush;
    padding: 2px 6px 2px 6px;
}
.comprar__ilus {
    margin-top: 15px;
    margin-left: 15px;
    width: 80%;
}
.comprar__parrafo {
    margin: 15px;
}
.comprar__lista {
    margin: 15px;
    font-family: 'Roboto', sans-serif;
}
@keyframes pulse {
    0% {
        transform: translate(0,0);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0,0);
    }
}
/* Contenido Catálogo */
.grilla__catalogo {
 display: grid;
 grid-template-rows: 10vh 1fr 30vh;
 grid-template-areas: "header"
                      "main"
                      "footer";
}
.navegador__catalogo {
    grid-area: header;
}
.main__catalogo {
    grid-area: main;
}
.footer__catalogo {
    grid-area: footer;
}
.catalogo__titulo {
    margin-top: 15px;
    margin-bottom: 15px;
}
.catalogo__titulo__texto {
    display: inline;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 2px 6px 2px 6px;
}
.grilla__catalogo__discos {
    display: grid;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 10vh;
    grid-template-areas: "1  2"
                         "3  4"
                         "5  6"
                         "7  8"
                         "9  10"
                         "11 12"
                         "espacio";  
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
}
.catalogo__uno {
    grid-area: "1";
    width: 100%;
    display: flex;
    flex-direction: column;
}
.catalogo__dos {
    grid-area: "2";
    width: 100%;
    display: flex;
    flex-direction: column;
}
.catalogo__tres {
    grid-area: "3";
    width: 100%;
    display: flex;
    flex-direction: column;
}
.catalogo__cuatro {
    grid-area: "4";
    width: 100%;
    display: flex;
    flex-direction: column;
}
.catalogo__cinco {
    grid-area: "5";
    width: 100%;
    display: flex;
    flex-direction: column;
}
.catalogo__seis {
    grid-area: "6";
    width: 100%;
    display: flex;
    flex-direction: column;
}
.catalogo__siete {
    grid-area: "7";
    width: 100%;
    display: flex;
    flex-direction: column;
}
.catalogo__ocho {
    grid-area: "8";
    width: 100%;
    display: flex;
    flex-direction: column;
}
.catalogo__nueve {
    grid-area: "9";
    width: 100%;
    display: flex;
    flex-direction: column;
}
.catalogo__diez {
    grid-area: "10";
    width: 100%;
    display: flex;
    flex-direction: column;
}
.catalogo__once {
    grid-area: "11";
    width: 100%;
    display: flex;
    flex-direction: column;
}
.catalogo__doce {
    grid-area: "12";
    width: 100%;
    display: flex;
    flex-direction: column;
}
.foto__catalogo {
    width: 100%;
}
.catalogo__disco__titulo {
    margin-top: 5px;
}
.catalogo__disco__descripcion {
    margin-top: 5px;
    font-size: 14px;
}
.masinfo--catalogo {
    width:fit-content;
    margin-bottom: 5px;;
}

/* Estilos Como Comprar */
.grilla__comprar {
    display: grid;
    grid-template-rows: 10vh 1fr 30vh;
    grid-template-areas: "header"
                         "main"
                         "footer";
   }
.navegador__comprar {
       grid-area: header;
   }
.main__comprar {
       grid-area: main;
       height:fit-content;
       display: flex;
       flex-direction: column;
       padding-bottom: 5vh;
   }
.footer__comprar {
       grid-area: footer;
   }
.comprar__lista {
    list-style-type: decimal;
    margin-left: 10vw;
}
.comprar__titulo__texto--blanco {
    color: white;
}
.comprar__imagen {
    width: 100%;
}
/* Esilos Destacado */
.grilla__destacado {
    display: grid;
    grid-template-rows: 10vh 1fr 30vh;
    grid-template-areas: "header"
                         "main"
                         "footer";
   }
.navegador__destacado {
       grid-area: header;
   }
.main__destacado {
       grid-area: main;
       height:fit-content;
       display: flex;
       flex-direction: column;
       padding-bottom: 5vh;
   }
.footer__destacado {
       grid-area: footer;
   }
.destacado__discodelmes {
    margin-top: 25px;
    margin-bottom: 25px;
}
.destacado__discodelmes__titulo {
    margin-bottom: 25px;
}
.destacado__discodelmes__titulo__texto {
    background-color: #ff66c4;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 900;
    display: inline;
}
.destacado__imagen {
    width: 100%;
}
.destacado__descripcion__titulo {
    margin-top: 15px;
    margin-bottom: 15px;
}
/* Estilos bLOG */
.grillaBlog {
    display: grid;
    grid-template-rows: 10vh 1fr 30vh;
    grid-template-areas: "header"
                         "main"
                         "footer";
   }
.navegador__blog {
       grid-area: header;
   }
.main__blog {
       grid-area: main;
       height:60vh;
       display: flex;
       flex-direction: column;
       padding-bottom: 5vh;
   }
.footer__blog {
       grid-area: footer;
   }
.blog__titulo {
    margin-top: 15px;
    margin-bottom: 15px;
}
.blog__titulo__texto {
    display: inline;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 2px 6px 2px 6px;
}
/* Estilos Contacto */
.grilla__contacto {
    display: grid;
    grid-template-rows: 10vh 1fr 30vh;
    grid-template-areas: "header"
                         "main"
                         "footer";
   }
.navegador__contacto {
    grid-area: header;
   }
.main__contacto {
    grid-area: main;
    height:75vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 5vh;
   }
.footer__contacto {
    grid-area: footer;
   }
.contacto__titulo {
    margin-top: 15px;
    margin-bottom: 15px;
}
.contacto__titulo__texto {
    display: inline;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 2px 6px 2px 6px;
}
.contacto__contenido {
    padding-left: 5vw;
    padding-right: 5vw;
}
.contacto__redes {
    font-size: 30px;
}

label {
    font-size: 1rem;
}
select {
    font-size: 1rem;
}


/* MEDIA QUERIES */
@media only screen and (min-width: 600px){
    #grilla {
        display: grid;
        grid-template-rows: 10vh 60vh 500px 1fr 70vh 15vh;
        grid-template-areas: "header"
                             "destacado"
                             "categorias"
                             "novedades"
                             "comprar"
                             "footer";
    }
}

@media only screen and (min-width: 768px){
    
#grilla {
    display: grid;
    grid-template-rows: 10vh 60vh 400px 1fr 70vh 15vh;
    grid-template-areas: "header"
                         "destacado"
                         "categorias"
                         "novedades"
                         "comprar"
                         "footer";
}
.friki__logo {
    height: 10vh;
}
.destacado__titulo {
    margin-bottom: 20px;
    width: 30%;
}
.destacado__titulo span {
    background-color: #ff66c4;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
}
.destacado__descripcion {
    width: 30%
}
.categorias {
    grid-area: categorias;
    display: flex;
    flex-direction: column;
    background-color:white;
    padding: 15px 0% 0% 0%;
}
.scroll {
    display: none;
}
.categorias__formatos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
    overflow: hidden;
}
.novedades__todos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}
.novedades__todos__producto {
    width: 20%;
    margin-bottom: 50px;
}
.comprar__contenido {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lavenderblush;
    height: fit-content;
}
.comprar__contenido__imagen {
    width: 30%;
}
.comprar__ilus {
    margin: 0px;
    width: 100%;
    height: auto;
}
.comprar__contenido__texto {
    width: 30%;
    margin-left: 50px;
}
.footer {
    background-color: black;
    color: white;
    grid-area: footer;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}
.footerNewsletter {
    padding-top: 20px;
    width: 60%;
}
.footerRedes {
    padding-top: 20px;
    width: 15%;
    padding-right: 80px;
}
 .grilla__catalogo__discos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 10vh;
        grid-template-areas: "1  2  3  4"
                             "5  6  7  8"
                             "9  10 11 12"
                             "espacio";  
        column-gap: 10px;
        row-gap: 10px;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
    }
.grilla__comprar {
        display: grid;
        grid-template-rows: 10vh 1fr 15vh;
        grid-template-areas: "header"
                             "main"
                             "footer";
    }
.comprar__contenido__pag {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-bottom: 10px;
}
.comprar__lista {
    display: inline-block;
    width: 40%
}
.comprar__imagen {
    width: 35%;
}
.grillaBlog {
    display: grid;
    grid-template-rows: 10vh 75vh 15vh;
    grid-template-areas: "header"
                         "main"
                         "footer";
   }
.grilla__contacto {
    display: grid;
    grid-template-rows: 10vh 75vh 15vh;
    grid-template-areas: "header"
                         "main"
                         "footer";
   }
.grilla__destacado {
    display: grid;
    grid-template-rows: 10vh 75vh 15vh;
    grid-template-areas: "header"
                         "main"
                         "footer";
   }
.discodelmes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.discodelmes__imagen {
    width: 25%;
    padding-right: 20px;;
}
.destacado__imagen {
    width: 100%;
}
}
