footer {
    p {
        @include fontstyling('Roboto',400,0.8rem,$colorWhite,0px)
    }
    h5 {
        padding-top: 10px;
        padding-bottom: 5px;
    }
    .btn-friki-footer {
        color: $colorWhite;
        background-color: $colorUno;
        font-weight: 500;
        transition-duration: 0.25s;
        margin-bottom: 20px;
        &:hover {
            background-color: $colorDos;
            font-weight: 500;
            transition-duration: 0.25s;
            }
        }
        a {
            color: $colorWhite;
            text-decoration: none;
            &:hover {
                color:$colorUno;
                text-decoration: none;
            }
        }
    }