#navbar {
    .nav-friki-item {
        a {
            @include fontstyling('Roboto',400,1rem ,$colorWhite,20px);
            &:hover {
            color: $colorUno;
        }
        }
    }
    .nav-friki-item-active {
        border-bottom: solid 3px $colorUno;
        a {
            @include fontstyling('Roboto',500,1rem ,$colorWhite,20px);
        }
        
    }
    .lupa {
        &:hover {
            color:$colorUno;
        }
        &:active {
            color: $colorDos;
        }   
    }
}